
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; {{ .Site.Params.copyright }}</p>
					</footer>

			</div>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/js/slick/slick.min.js"></script>
  <script type="text/javascript" src="/js/slickbg.js"></script>

		<!-- BG -->
			<div id="bg" class="slick-bg">
				<div class="img_lg"><img data-lazy="images/bg/01.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/02.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/03.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/04.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/05.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/06.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/07.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/08.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/09.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/10.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/11.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/12.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/13.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/14.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/15.jpg"/></div>
				<div class="img_lg"><img data-lazy="images/bg/16.jpg"/></div>
			</div>

		<!-- Scripts -->
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			{{ template "_internal/google_analytics_async.html" . }}

	</body>
</html>
