    <div class="footer_widgets_wrapper">
      <div class="aurel_footer_widgets aurel_container">
        <div class="aurel_footer_widgets_inner aurel_widgets_in_line4">
          <!-- Quick Contacts Widget -->
          <div class="widget footer_widget widget_aurelquickcontact">
            <h6 class="widgettitle">Contact Info</h6>

            <div class="aurel_quick_contact">
              <div class="aurel_inner_qc">
                <div class="aurel_qc_widget_descr">
                  Hey! Thanks for stopping by! My name is <span class="aurel_color">Eddie Alvarado</span>  and I’m a professional photographer from NY.
                </div>

                <div class="aurel_qc_widget_address">Address: Brooklyn, NY 11201</div>

                <div class="aurelqc_widget_phone">Phone: +1 (800) 456 37 96</div>

                <div class="aurel_qc_widget_email">
                  <a href="mailto:ed_alvarado@domain.com">Email: ed_alvarado@domain.com</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Featured Posts Widget -->
          <div class="widget footer_widget widget_aurel_featured_posts">
            <h6 class="widgettitle">Featured Posts</h6>

            <div class="aurel_recent_posts aurel_items_2">
              <div class="aurel_posts_item aurel_block_with_fi">
                <a class="aurel_posts_item_image aurel_dp aurel_no_select" href="blog_standard.html">
                  <img src="img/clipart/footer_widget_thumb_01.jpg" alt="" width="62" height="62" />
                </a>

                <div class="aurel_posts_item_content">
                  <a class="aurel_featured_post_widget_title" href="blog_standard.html">Mother Nature</a>
                  <div class="aurel_widget_meta">
                    <div>November 14, 2017</div>
                  </div>
                </div>
              </div>

              <div class="aurel_posts_item aurel_block_with_fi">
                <a class="aurel_posts_item_image aurel_dp aurel_no_select" href="blog_standard.html">
                  <img src="img/clipart/footer_widget_thumb_02.jpg" alt="" width="62" height="62" />
                </a>

                <div class="aurel_posts_item_content">
                  <a class="aurel_featured_post_widget_title" href="blog_standard.html">Road Trip</a>
                  <div class="aurel_widget_meta">
                    <div>November 14, 2017</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Nav Menu Widget -->
          <div class="widget footer_widget widget_nav_menu">
            <h6 class="widgettitle">Useful Links</h6>

            <div class="menu-usefull-links-container">
              <ul>
                <li><a href="albums_grid.html">Albums</a></li>
                <li><a href="about.html">About Me</a></li>
                <li><a href="gallery_proofing.html">Photo Proofing</a></li>
                <li><a href="blog_grid.html">Aurel Blog</a></li>
                <li><a href="contacts_1.html">Contact Me</a></li>
              </ul>
            </div>
          </div>

          <!-- Flickr Photostream Widget -->
          <div class="widget footer_widget widget_aurel_flickr">
            <h6 class="widgettitle">Follow on Flickr</h6>

            <div class="aurel_flickr_widget_wrapper" data-flickrid="5089" data-widget_id="149482210@N04" data-widget_number="6"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="aurel_footer aurel_with_prefooter aurel_border_on">
      <div class="aurel_footer_inner aurel_container">
        <div class="aurel_logo_cont">
          <a href="index.html" class="aurel_image_logo aurel_dp aurel_no_select aurel_retina"></a>
        </div>

        <div class="aurel_copyright">© 2018 Photo Aurel. All Rights Reserved.</div>
      </div>
    </footer>

    <!-- Back Button -->
    <div class="aurel_back_to_top"></div>
  </div>